[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
