<!-- Init -->
{{ $page := .context.Page }}
{{ $image := "" }}
{{ $alt := "" }}
<!-- {{ $tags := slice "events" "ai" "design" }} -->

{{ $pageTitle := $page.Title | lower | urlize }}

<!-- {{ if in $tags $pageTitle }} {{ $image = "/image/about.webp" }} {{ end }} -->

<!-- Taxonomy image, eg: categories or tags, does not appear to be working though-->
{{ if eq $page.Kind "term" }}
  {{ $pages := where site.RegularPages "Params.categories" "intersect" (slice .context.Title) }}
  {{ $tagPages := where site.RegularPages "Params.tags" "intersect" (slice .context.Title) }}
  {{ $allPages := union $pages $tagPages }}
  {{ with first 1 $allPages }}
    {{ $page = index . 0 }}
  {{ end }}
{{ end }}

<!-- Whether have featured image in front matter -->
{{ with $page.Params.featuredImage }}
{{ $image = . | absURL }}
{{ end }}

{{ if eq $image "" }}
<!-- Local image eg: ./abc.jpeg or /abc.png -->
{{ $regex := `img[\s]+alt="([^"]+)"[\s]+src="([^"]+)"` }}
{{ $matches := findRESubmatch $regex $page.Content }}
{{ range $matches }}
{{ $image = index . 2 | safeURL }}
{{ $alt = index . 1 | safeHTML }}
{{ end }}
{{ end }}

{{ if eq $image "" }}
<!-- Inline image eg: data:image/jpeg;base64,... -->
{{ $regex := `(data:image\/[a-z]+;base64,[^\"]+)` }}
{{ $images := findRE $regex $page.Content }}
{{ with index $images 0 }}
{{ $image = . | safeURL }}
{{ end }}
{{ end }}

{{ if eq $image "" }}
<!-- Remote image eg: https://xxx.com/abc.jpeg -->
{{ $regex := `https:\/\/[^\s]+\.(jpg|jpeg|png|webp)` }}
{{ $images := findRE $regex $page.Content }}
{{ with index $images 0 }}
{{ $image = . | safeURL }}
{{ end }}
{{ end }}

<!-- lazy solution for tags -->
{{ if eq $image "" }}
{{ $imagePath := printf "/images/tag_%s.webp" $pageTitle } }} <!-- Path to the image -->
{{ $imageExists := fileExists (printf "static%s" $imagePath) }} <!-- Check if the file exists -->
{{ if $imageExists }}
{{ $image = "/image/about.webp" }}
{{ end }}
{{ end }}

<!-- Return a placeholder image if no images -->
{{ if eq $image "" }}
{{ $image = "/image/common-writing-empty.webp" }}
{{ end }}

{{ $result := dict "url" $image "alt" $alt }}

{{ return $result }}