<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">
{{- partial "head.html" . -}}

<body>
    <div class="
        mx-auto max-w-[calc(120rem)]
        min-h-screen
        2xl:px-[calc(16rem)]
        xl:px-24
        md:px-8
        px-4
    ">

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        <div class="
            flex flex-col overflow-hidden
            xl:px-0
            lg:flex-row lg:space-x-8
        ">
            <main class="w-full">
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "sidebar.html" . }}
        </div>

        <footer class="p-5 text-xl text-center mt-8 pt-8 pb-8 border-t border-gray-100/10">
            <div class="text-gray-500">
                {{ if .Site.Params.copyright }}
                {{ .Site.Params.copyright | safeHTML }}
                {{ else }}
                &#xA9; 2019 - 2023 by <a class="hover:text-gray-100" href="https://github.com/guangmean/Niello"
                    target="_blank">guangmean</a>. All Rights
                Reserved.
                {{ end }}

                <!--{{ range .Site.Languages }}
                | <a class="hover:text-gray-100" href="{{ if eq .Lang " en" }} / {{ else }} /{{.Lang}} {{ end }}">{{
                    .LanguageName }}</a>
                {{ end }}-->
            </div>
        </footer>

        <!--{{ partial "cookie.html" . }}-->

    </div>
</body>

</html>